body, html {
	height: 100%;
	margin: 0;
}

.bg {
	background-image: url("../resources/images/home.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	
	background-repeat: no-repeat;
	background-size: cover;
}